# Ignore temporary files
*.log
*.tmp

# Ignore compiled job files
*.class
*.jar

# Ignore Talend metadata and settings
.metadata/
.settings/
*.screenshot

# Ignore local workspace settings
*.launch
*.swp
*.bak
*.backup

# Ignore temporary directories
temp/
tmp/

# Ignore specific Talend temporary directories and files
TALENDTEST/temp/
TALENDTEST/temp/unstaging/
TALENDTEST/temp/unstaging/their/
TALENDTEST/temp/index/our/

# Ignore Talend project settings and temporary files
bin/
target/
lib/java/*
lib/routines/*
lib/userRoutines/*
.lib/
.context/.temp/
.metadata/.plugins/

# Ignore all .properties files in specific directories
TALENDTEST/process/*.properties
